.App {
  text-align: center;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  
}

.AdContainer{
    width: 500px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 30px;
    align-items: center;
    align-content: center;
    text-transform: capitalize;
}

.AppHeader>button{
  background-color: green;
  color: white;
  width: 150px;
  height: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;

}

.AppHeader>select{
  width: 60px;
  height: 25px;
  font-size: 14px;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.link{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: green ;
  margin: 1px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}